@charset "UTF-8";
html{
	background-color: black;
}
.container{
	justify-content:center;
	display:flex;
	align-content: space-around;
}
.body{
	display:flex;
	background-color: black;
}
.Input{
	background-color:silver;
	height: 20px
}
.subbtn{
	background-color:olive;
	heights:3px;
	widht:4px;
	border-radius: 5px;
}
